
@{
    ViewBag.Title = "Передается в закладку Браузера";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/MyCustomCss.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="liteDiv">
        <h2>MyPage</h2>
        <table border="1">
            <tr>
                <td>
                    <div class="customControllerDiv">
                        <p>Способы создания links - Перейти к списку футбольных комманд( на страницу по умолчанию в контроллере Custom)</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="@Url.Action("Index", "Custom")"><span>Url.Action</span></a>
                            </li>
                            <li class="list-group-item">
                                <p>@Html.ActionLink("Html.ActionLink", "Index", "Custom")</p>
                            </li>
                            <li class="list-group-item">
                                <p> @Html.ActionLink("Html.ActionLink + Bootstrap", "Index", "Custom", new { @class = "btn btn-primary" }) </p>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="defaultDiv">
                        <p><h2>to be continued</h2></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="defaultDiv">
                        <p><h2>to be continued</h2></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="defaultDiv">
        <p>First code in file</p>
    </div>


</body>
</html>

